/* to have footer pushed down */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.foot {
  margin-top: auto;
}
@media (max-width: 650px) {
  .col1 {
    margin-bottom: 20px;
  }
}

/* ---------------------------*/
